
/* Matched Box Colors To Difficulty */









body {
    background: url(imgs/PossibleBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: bold;
    text-align: center;
}