
#guessBtn {
   background-color: #224d17;
   text-decoration: white;
}

/* Matched Box Colors for Difficulty */



h1 {
    text-align: center;
}





body {
    /*This is the dog background image*/
    background: url(imgs/PossibleBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: bold;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

#wrongLetters {
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: black;    
}