
#guessBtn {
   background-color: #224d17;
   text-decoration: white;
}

/* Matched Box Colors for Difficulty */



h1 {
    text-align: center;
}





body {
    background: url(imgs/PossibleBackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-family: bold;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
}